@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Poppins:wght@200;400;600&family=Spartan:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@200;400;600&family=Spartan:wght@400;500;700&display=swap");

// colors
$Violet: hsl(257, 40%, 49%);
$SoftMagenta: hsl(300, 69%, 71%);
// primary
$softWhite: hsl(208, 100%, 97%);
// Neutral

// Typography
$FamilyPoppins: "Poppins";
$FamilyOpenSans: "Open Sans";
$Weightslight: 200;
$WeightsNormal: 400;
$WeightsBold: 600;
